---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: traefik

helmCharts:
  - name: traefik
    repo: https://traefik.github.io/charts
    version: 38.0.1
    releaseName: traefik
    namespace: traefik
    includeCRDs: true
    valuesFile: values.yaml

resources:
  - certificates
  - secrets
