---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - argocd-helm-registry-config-sealed-secret.yaml
  - argocd-registry-sealed-secret.yaml
  - argocd-repo-sealed-secret.yaml
